.header {
    position: sticky;
    top: 0;
    z-index: 1011;
   
    width: 100%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.header-bg-scnd {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Optional: Add a subtle shadow */
}

.container-myapp {
    margin: 0px;
    padding: 0px 45px;
}

.header-bg-first {
    background-color: #f7f9fb;
    padding: 12px 0px;
}

.header-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 14px;
    color: #687188;
}

.phone-header {
    display: flex;
    align-items: center;
    gap: 6px;
}

.phone-header svg {
    margin-top: 2px;
}

.email-header {
    display: flex;
    align-items: center;
    gap: 6px;
}

.email-header svg {
    margin-top: 2px;
}

.social-media-info {
    display: flex;
    align-items: center;
    gap: 14px;
}

.social-media-info svg {
    color: #687188;
}

.header-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0px;
}

.logo-nav {
    width: 200px;
    height: auto;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    align-items: center;
}

.nav-bar ul li .nav-link {
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: white;
    transition: color 0.3s;
    text-transform: capitalize;
    text-decoration: none;
}

.nav-bar ul li .nav-link:hover {
    color: #007bff;
}


.nav-bar ul li .nav-link.active {
    color:white;

}

.moble-hamburger-menu {
    display: none;
}

/* Mobile responsive */
@media (max-width:990px) {
    .moble-hamburger-menu {
        display: block;
        cursor: pointer;
        font-size: 24px;
        color: #687188;

    }

    .nav-bar {
        display: none;
    }

}


@media (max-width: 600px) {
    .header-one {
        display: block
    }

    .social-media-info {
        display: none;
    }

    .contact-info {
        justify-content: center;
    }

}

@media (max-width: 450px) {
    .contact-info {
        display: flex;
        align-items: center;
        gap: 8px;
        flex-direction: column;
    }
     .container-myapp {
        padding: 0px 20px !important;
    }

}

@media (max-width: 400px) {
    .container-myapp {
        padding: 0px 20px !important;
    }
}